
<h1>Dashboard</h1>
<p>Max Threads: #{ENV['RAILS_MAX_THREADS']}</p>
<p>Current Threads: #{@num_current_threads}</p>

= button_to "Add Producer", dashboard_add_producer_path, remote: true
= button_to "Add Consumer", dashboard_add_consumer_path, remote: true
= button_to "start", dashboard_start_path, remote: true
= button_to "stop", dashboard_stop_path, remote: true

-# @producers.each do |producer|
  -#= producer


#things
