.card{ "data-#{type.downcase}-id": id}
	.card-body.d-grid.p-2
		%h5.card-title.d-flex.align-items-center
			.color-patch.rounded.me-1{style: "border: 3px solid ##{color}"}
			= type
			.align-self-end.ms-auto
				= button_to "#", remote: true, class: "btn btn-sm btn-outline-danger" do
					%i.fa-solid.fa-trash-can
		.card-subtitle.mb-2.text-body-secondary.truncate= id
