
.p-2
	.h5 Max Threads: #{ENV['RAILS_MAX_THREADS']}
	.h5 Current Threads: #{@num_current_threads}

.my-2.d-flex.justify-content-center
	.mx-1= button_to "start", pc_start_path, remote: true, class: "btn btn-lg btn-light"
	.mx-1= button_to "pause", pc_pause_path, remote: true, class: "btn btn-lg btn-light"
	.mx-1= button_to "stop", pc_stop_path, remote: true, class: "btn btn-lg btn-light"

.container.text-center.border.border-5.rounded.border-opacity-25
	.row.header
		.col-md-3.border-end.border-5.border-opacity-25
			.h2 Producers
		.col-md-6
			.h2 Shared Resources
		.col-md-3.border-start.border-5.border-opacity-25
			.h2 Consumers
	.row.container-body
		.col-md-3.d-grid.justify-content-center.border-end.border-5.border-opacity-25
			#producers
			.align-self-end.mb-2= button_to "Add Producer", pc_add_producer_path, remote: true, class: "btn btn-lg btn-light"
		.col-md-6
			#resources.d-flex.flex-wrap
		.col-md-3.d-grid.justify-content-center.border-start.border-5.border-opacity-25
			#consumers
			.align-self-end.mb-2= button_to "Add Consumer", pc_add_consumer_path, remote: true, class: "btn btn-lg btn-light"
