- percent_complete = (rows_generated.to_f / slice_length.to_f) * 100.0

.my-2{'data-thread-id': thread_id, width: "100%"}
	.progress{ role: 'progressbar', 'aria-label': 'Animated striped example', 'aria-valuenow': "#{percent_complete}", 'aria-valuemin': '0', 'aria-valuemax': '100', style: "height: 20px" }
		.progress-bar.overflow-visible.text-start{ style: "width: #{percent_complete}%" }
			.ms-2= "T#{thread_id} - #{percent_complete.round}%"
