<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<title>ThreadingDemo</title>
		<link rel=icon href='assets/shapes-solid.svg' />
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= action_cable_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		

		<%= javascript_include_tag 'https://kit.fontawesome.com/7b8d51796d.js', crossorigin: 'anonymous' %>
	</head>

	<body data-channel="<%= controller_name %>">
		<%= render 'shared/navbar' %>
		<%= yield %>
	</body>
</html>
